[Unit]
Description=Display and interaction controller for Desktopper
PartOf=desktopper.service
After=desktopper.service
After=task_api.service

[Service]
ExecStart=/usr/local/bin/desktopper -c /etc/desktopper/config.toml
Restart=on-failure

[Install]
WantedBy=desktopper.service

